$range-background-colors-helpers-parser: (
    thumb-border-color: 'background-inner-color',
    focus-thumb-border-color: null,
    thumb-background: color,
    focus-thumb-background: null,
    track-background: 'background-inner-color',
    focus-track-background: 'background-inner-color'
) !default;

$range-background-colors-support-extra-colors-palette: () !default;
$range-background-colors-support-skip-colors-palette: null !default;

//Support for screens (gridi-framework-bg-colors-scrns-sprt)
//Background colors from
$range-background-colors-support-screens-support-generate-from-classes: true !default;
$range-background-colors-support-screens-support-from-classes-skip-screens: null !default;

$range-background-colors-support-screens-support-from-extra-colors-palette: $range-background-colors-support-extra-colors-palette !default;
$range-background-colors-support-screens-support-from-skip-colors-palette: $range-background-colors-support-skip-colors-palette !default;
//Background colors to
$range-background-colors-support-screens-support-generate-to-classes: true !default;
$range-background-colors-support-screens-support-to-classes-skip-screens: null !default;

$range-background-colors-support-screens-support-to-extra-colors-palette: $range-background-colors-support-extra-colors-palette !default;
$range-background-colors-support-screens-support-to-skip-colors-palette: $range-background-colors-support-skip-colors-palette !default;
//Background colors only
$range-background-colors-support-screens-support-generate-only-classes: true !default;
$range-background-colors-support-screens-support-only-classes-skip-screens: null !default;

$range-background-colors-support-screens-support-only-extra-colors-palette: $range-background-colors-support-extra-colors-palette !default;
$range-background-colors-support-screens-support-only-skip-colors-palette: $range-background-colors-support-skip-colors-palette !default;
